

<div class="jumbotron jumbotron-fluid mb-5 py-5 banner" style="background-image: url(<%= @list.photo.attached? ? (cl_image_path @list.photo.key) : Bookmark.all.sample.movie.poster_url %>);">
  <div class="container ms-5">
    <h1 class="display-4 text-light mb-5"><%= @list.name %></h1>
    <%= link_to "Add bookmark", new_list_bookmark_path(@list), class: "btn btn-primary mt-3" %>
  </div>
</div>

<ul class="mt-5 ps-0">
  <div class="cards wide">
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <div class="card d-flex flex-column align-items-start justify-content-between text-light bg-dark gap-2">
        <img src=<%= bookmark.movie.poster_url %> alt="" class="mb-3 align-self-center">
        <div class="w-100 fw-bold">
          <h2 class="h3"><%= bookmark.movie.title %></h2>
          <span><%= bookmark.movie.rating %><i class="fas fa-star text-info m-1"></i></span>
        </div>
          <p><%= bookmark.movie.overview %></p>
          <div class="bottom-info">
            <%= link_to "Delete", bookmark_path(bookmark), method: "delete", class: "btn btn-danger text-light mb-4 ms-auto" %>
            <blockquote class="mb-0">
              <%= bookmark.comment %>
            </blockquote>
          </div>
      </div>
    </li>
  <% end %>
  </div>
</ul>
