<div class="text-light">
  <h1>Add new bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :list, selected: params[:list_id] %>
    <%= f.association :movie %>
    <%= f.submit "Add bookmark", class: "btn btn-primary" %>
  <% end %>
</div>
